<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar">
        <div class="container">
            @Html.ActionLink("Car Dealership", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("New", "New", "Inventory",null,new {@class = "nav-tabs"})
            @Html.ActionLink("Used", "Used", "Inventory", null, new { @class = "nav-tabs" })
            @if (this.Context.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Users", "Users", "Admin", null, new { @class = "nav-tabs" })
                @Html.ActionLink("Vehicles", "Vehicles", "Admin", null, new { @class = "nav-tabs" })
                @Html.ActionLink("Makes", "Makes", "Admin", null, new { @class = "nav-tabs" })
                @Html.ActionLink("Models", "Models", "Admin", null, new { @class = "nav-tabs" })
                @Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "nav-tabs" })
            }
            @if (Context.User.IsInRole("Sales"))
            {
                <div class="nav-tabs">@Html.ActionLink("Sales", "Index", "Sales")</div>
            }
            @if (Context.User.Identity.IsAuthenticated)
            {
                <a href="/api/Account/Logout">
                    <div class="nav-tabs">
                        Logout
                    </div>
                </a>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Car Dealership</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>